.link-to-toot {
    text-decoration: none;
    color: var(--text-color);
}

#toots-cont {
    min-width: calc(600px + 2em);
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.toot-cont {
    width: 600px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: solid 1px rgba(50,50,50);
}

.toot-header {
    display: flex;
}

.toot-pfp>img{
    width: 42px;
    height: 42px;
    border-radius: 5px;
}

.toot-account{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: center;
}

.toot-date {
    margin-left: auto;
}

.display-name {
    font-weight: bold;
}

.handle {
    color: gray;
}

.toot-body-text {
    padding: 0.5em 0em;
    margin-left: calc(42px + 1em);
}

.toot-medias {
    width: calc(100% - 42px - 1em);
    display: flex;
    overflow: auto;
    margin-left: calc(42px + 1em);
}

.toot-medias>img {
    width: 100%;
    border-radius: var(--border-radius);
}

.toot-medias-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.toot-medias-2>img {
    width: calc(100% - 4px);
    height: 300px;
    object-fit: cover;
    margin: 2px
}

.toot-medias-2>img:nth-child(3):last-child {
    grid-column: span 2;
}


.toot-body a {
    color: var(--accent-color);
}

.toot-footer {
    margin-left: calc(42px + 1em);
    margin-top: 0.5em;
}

.toot-btn {
    color: gray;
}

.toot-btn:hover {
    color: lightgray;
}

.toot-btn svg {
    width: 1em;
    height: 1em;
}

.load-more {
    padding-bottom: 2em;
}

.toot-chunk {
    height: max-content;
}

.toots-end {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding-bottom: 2em;
}

.column-title {
    position: sticky;
    top: 0px;
    color: var(--text-color);
    padding: 1em;
    backdrop-filter: blur(15px);
    font-weight: bold;
    z-index: 10000;
    border-radius: var(--border-radius);
}

#show-media-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000000000;
    backdrop-filter: blur(25px);
}

.media-popup-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-popup-media>* {
    width: 100%;
    max-height: 60vh;
}

.media-popup-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

.media-popup-img {
  width: 100%;
  max-height: 60vh;
}

.media-popup-text {
  width: 600px;
  color: white;
  margin-top: 3em;
  cursor: pointer;
}

.custom-emoji {
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}